{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@6.0/dist/fancybox/fancybox.css"
    />
{% endblock %}

{% block body %}
    <div class="container mt100 mb-5">
        <h1 class="mb-4">Realizácie</h1>

        {% for gallery in galleries %}
            <h3 class="mt-5 mb-5" style="opacity: 0.7">
                {{ renamedGalleries[gallery.name] ?? gallery.name|lower|capitalize }}
            </h3>

            <div class="row g-3 gallery-container" data-gallery-index="{{ loop.index }}">
                {% set total = gallery.images|length %}
                {% set showCount = 4 %}

                {% for image in gallery.images %}
                    {% if loop.index <= showCount %}
                        <div class="col-6 col-md-3 col-lg-3 position-relative" data-index="{{ loop.index }}">
                            <a
                                    href="{{ image }}"
                                    data-fancybox="gallery-{{ loop.parent.loop.index }}"
                                    class="d-block ratio ratio-1x1"
                                    target="_blank"
                            >
                                <img
                                        src="{{ image }}"
                                        class="w-100 h-100 object-fit-cover rounded shadow-sm"
                                        alt="Foto"
                                >

                                {% if loop.index == showCount and total > showCount %}
                                    <div class="overlay position-absolute top-0 start-0 w-100 h-100 d-flex justify-content-center align-items-center rounded shadow-sm"
                                         style="background-color: rgba(0,0,0,0.6); color: white; font-size: 2rem; font-weight: bold;">
                                        +{{ total - showCount }}
                                    </div>
                                {% endif %}
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}

                {% for image in gallery.images %}
                    {% if loop.index > showCount %}
                        <a href="{{ image }}" data-fancybox="gallery-{{ loop.parent.loop.index }}" class="d-none" tabindex="-1">
                            <img src="{{ image }}" alt="Foto">
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@6.0/dist/fancybox/fancybox.umd.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            Fancybox.bind("[data-fancybox]", {});
        });
    </script>

{% endblock %}

